body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .recover {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
  }
  
  .recover__link {
    text-decoration: none;
    color: black;
    font-size: 13px;
  }
  
  .recover__link:hover {
    text-decoration: underline;
  }
  
  .main-title {
    font-size: 20px;
    font-weight: lighter;
    padding: 20px 30px;
    color: rgb(218, 30, 30);
  }
  
  .line {
    border-top: 1px solid rgb(230, 230, 230);
  }
  
  .search {
    padding-left: 30px;
  }
  
  .search__field {
    display: flex;
    flex-direction: column;
  
  }
  
  .search__label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    max-height: 50px;
  }
  
  .search__text {
    color: #222;
    margin-right: 590px;
  }
  
  .search__question-hint {
    color: rgba(90, 90, 90, 0.829);
    font-weight: bolder;
    font-size: 13px;
  }
  
  .search__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 7px 7px 7px 0;
  }
  
  .search__rule {
    min-width: 180px;
    color: #222;
    font-size: 13px;
  }
  
  .search__input {
    width: 550px;
    height: 25px;
    border: 1px rgb(199, 198, 198) solid;
    outline: none;
    display: flex;
    flex-shrink: auto;
  }
  
  .search__input:focus {
    border: 1px solid rgb(101, 101, 255);
    box-shadow: 0px 1px 3px 0px rgb(180, 180, 180) inset;
  }
  
  .search__btn-click {
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    width: 130px;
    height: 30px;
    margin-left: 605px;
    margin-top: 20px;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    border-radius: 2px;
  }
  
  .search__btn-click:hover {
    background-color: #4787ed;
  }
  
  .search__btn-click:focus {
    box-shadow: 0px 1px 3px 0px #3040ed inset;
  }
  
  .search__hint {
    color: rgba(53, 53, 53, 0.829);
    font-size: 11px;
    padding-left: 15px;
  }
  
  @media (max-width: 1030px) {
    .search__question-hint, .search__hint {
      content-visibility: hidden;
    }
  
  }